#body {
    background: linear-gradient(blue, white,blue);
}

#div1-header1{
    background-color: darkturquoise;
    color: black;
    font-family: Arial, Helvetica, sans-serif
}

#div2-body{
    display: flex;
    background-color: aqua;
}

.menu {
    padding: 80px 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 0;
    text-align: left;
    cursor: progress;
}

.menu ul {
    list-style-position: inside;
}

.menu li {
    display: inline;
}

.menu a {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
    padding: 4px;
}

.menu a::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    transition: 0.5s transform ease;
    transform: scale3d(0, 1, 1);
    transform-origin: 0 50%;
}

.menu a:hover::before {
    transform: scale3d(1, 1, 1);
}

.menu-1 a::before {
    background: #e91e63;
    transform-origin: 100% 50%;
}

.menu a:hover::before {
    transform-origin: 0 50%;
}

.menu-1 {
    background: #4A148C;
}

#img {
    height: 400px;
    width: 300px;
    align-content: right;
    display: flex;
    position: relative;
    border: solid 10px #84d3cc;
    padding: 10px;
    border-radius: 10px;
}

#but {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 15px;
    background-color: lightseagreen;
    width: 200px;
    border-radius: 4px;
    color: white;
    box-shadow: 50px;
    border: 2px solid;
}

.para {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}

.footer {
    background-color: blue;
    font: 100px;
    color: white;
    cursor: pointer;
}

.about-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.about-text {
    font-size: 16px;
}

.header2 {
    font-style: italic;
}


/* Resposive for the mobile*/

@media (max-width:768px) {
    .about-section {
        flex-direction: column;
        text-align: center;
    }
    .about-text {
        max-width: 100%;
    }
}